SUPABASE_URL=https://xkezmrrgmfmrcfdufdaz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhrZXptcnJnbWZtcmNmZHVmZGF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MTQ0MzcsImV4cCI6MjA4ODE5MDQzN30.8oXVuc1ViJV30MISF1VuFqb2xvB7szW_IZRAX5pHKII
PORT=5000